body {
  background: #333 url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding: 2rem 0;
}

.container {
  background-color: rgba(20, 20, 20, .5);
}

h1 {
  padding: 30px;
}

.answer {
  cursor: pointer;
}
